In [65]:
import pandas as pd
import re

In [66]:
df = pd.read_csv("/home/rando149/shared/data/Collection_3165_Supporting_Documentation/abcd-tabulated-data-release-5.1/core/substance-use/su_y_tlfb.csv")
df.head(5)

,src_subject_id,eventname,tlfb_cal_scr_assess_date,tlfb_cal_scr_num_events,tlfb_cal_scr_num_bde,tlfb_cal_scr_tot_bde,tlfb_cal_scr_drinksperbinge,tlfb_cal_scr_alc_avg,tlfb_cal_scr_alc_ud,tlfb_cal_scr_alc_td,...,tlfb_cal_scr_smj_td_cum,tlfb_cal_scr_smj_ud_cum,tlfb_cal_scr_stimrx_td_cum,tlfb_cal_scr_stimrx_ud_cum,tlfb_cal_scr_tot_su_ud_cum,tlfb_cal_scr_vmjf_td_cum,tlfb_cal_scr_vmjf_ud_cum,tlfb_cal_scr_vmjo_ud_cum,su_tlfb_cal_scr_nic_days_cum,su_tlfb_cal_scr_mj_days_cum
0,NDAR_INV03CV8RDT,4_year_follow_up_y_arm_1,2021-10-27T16:43:12-07:00,8.0,0.0,5.0,NaN,1.0,5.0,5.0,...,0.0,0.0,0.0,0.0,8.0,1.0,1.0,2.0,0.0,3.0
1,NDAR_INV03YU08FA,3_year_follow_up_y_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NDAR_INV04EUBGTM,4_year_follow_up_y_arm_1,2021-10-28T09:46:18-07:00,6.0,0.0,6.0,NaN,1.0,6.0,6.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
3,NDAR_INV06A9DLE9,2_year_follow_up_y_arm_1,2021-02-22T15:00:22-08:00,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,9.0,NaN
4,NDAR_INV06A9DLE9,3_year_follow_up_y_arm_1,2021-10-19T14:14:09-07:00,1.0,0.0,0.0,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [67]:
df.dtypes

src_subject_id                   object
eventname                        object
tlfb_cal_scr_assess_date         object
tlfb_cal_scr_num_events         float64
tlfb_cal_scr_num_bde            float64
                                 ...
tlfb_cal_scr_vmjf_td_cum        float64
tlfb_cal_scr_vmjf_ud_cum        float64
tlfb_cal_scr_vmjo_ud_cum        float64
su_tlfb_cal_scr_nic_days_cum    float64
su_tlfb_cal_scr_mj_days_cum     float64
Length: 440, dtype: object

In [79]:
#function to choose which session to evaluate for which metric
def eval_metric(df, session, metric):
    su_df = df.copy()
    result_df = pd.DataFrame()
    new_df = pd.DataFrame()

    sessions = session.split(',')
    metrics = metric.split(',')

    for s in sessions:
        if s == '1':
            temp_df = su_df[su_df['eventname'].str.startswith('1_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('1_year_follow_up_y_arm_1', x).group() if re.search('1_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == '2':
            temp_df = su_df[su_df['eventname'].str.startswith('2_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('2_year_follow_up_y_arm_1', x).group() if re.search('2_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == '3':
            temp_df = su_df[su_df['eventname'].str.startswith('3_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('3_year_follow_up_y_arm_1', x).group() if re.search('3_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == '4':
            temp_df = su_df[su_df['eventname'].str.startswith('4_year')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('4_year_follow_up_y_arm_1', x).group() if re.search('4_year_follow_up_y_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        elif s == 'baseline':
            temp_df = su_df[su_df['eventname'].str.startswith('baseline')].copy()
            temp_df.loc[:, 'eventname'] = temp_df['eventname'].apply(lambda x: re.search('baseline_year_1_arm_1', x).group() if re.search('baseline_year_1_arm_1', x) else x)
            result_df = pd.concat([result_df, temp_df])
        else:
            print(f"error with session: {s}")

    #testing results
    if not result_df.empty:
        print(result_df.head(5))

        for m in metrics:
            if m and m.lower() in result_df.columns:
                temp2_df = result_df[['src_subject_id', 'eventname', m.lower()]].copy()
                new_df = pd.concat([new_df, temp2_df])
            elif m:
                print(f"\nWarning: metric '{m}' not found in input df")
            else:
                print("\nNo metric provided. returning all columns")
    else:
        print('error with sessions')

    return new_df

In [80]:
session = input("Enter comma seperated list of follow up session to evaluate (ex: baseline,1,2,3,4): ")
metric = input("Enter variable name of interest, i.e. column name (ex: ): ")

Enter comma seperated list of follow up session to evaluate (ex: baseline,1,2,3,4):  1,2
Enter variable name of interest, i.e. column name (ex: ):  tlfb_cal_scr_num_bde,tlfb_cal_scr_tot_bde

In [81]:
eval_metric_df = eval_metric(df, session, metric)

       src_subject_id                 eventname   tlfb_cal_scr_assess_date  \
22   NDAR_INV11THDW9B  1_year_follow_up_y_arm_1  2019-03-01T13:10:22-08:00
29   NDAR_INV185KY7W3  1_year_follow_up_y_arm_1  2019-07-19T17:10:02-07:00
80   NDAR_INV302WRHGU  1_year_follow_up_y_arm_1  2019-07-19T17:02:46-07:00
84   NDAR_INV348PDVUL  1_year_follow_up_y_arm_1  2019-07-18T11:15:11-07:00
188  NDAR_INV7UD8PUWD  1_year_follow_up_y_arm_1  2018-11-14T18:12:00-08:00

     tlfb_cal_scr_num_events  tlfb_cal_scr_num_bde  tlfb_cal_scr_tot_bde  \
22                       4.0                   NaN                   NaN
29                       6.0                   NaN                   NaN
80                       1.0                   NaN                   NaN
84                       2.0                   NaN                   NaN
188                      1.0                   NaN                   NaN

     tlfb_cal_scr_drinksperbinge  tlfb_cal_scr_alc_avg  tlfb_cal_scr_alc_ud  \
22                           NaN                  0.33                  3.0
29                           NaN                   NaN                  NaN
80                           NaN                   NaN                  NaN
84                           NaN                   NaN                  NaN
188                          NaN                   NaN                  NaN

     tlfb_cal_scr_alc_td  ...  tlfb_cal_scr_smj_td_cum  \
22                   1.0  ...                      NaN
29                   NaN  ...                      NaN
80                   NaN  ...                      NaN
84                   NaN  ...                      NaN
188                  NaN  ...                      NaN

     tlfb_cal_scr_smj_ud_cum  tlfb_cal_scr_stimrx_td_cum  \
22                       NaN                         NaN
29                       NaN                         NaN
80                       NaN                         NaN
84                       NaN                         NaN
188                      NaN                         NaN

    tlfb_cal_scr_stimrx_ud_cum  tlfb_cal_scr_tot_su_ud_cum  \
22                         NaN                         NaN
29                         NaN                         NaN
80                         NaN                         1.0
84                         NaN                         NaN
188                        NaN                         NaN

     tlfb_cal_scr_vmjf_td_cum  tlfb_cal_scr_vmjf_ud_cum  \
22                        NaN                       NaN
29                        NaN                       NaN
80                        NaN                       NaN
84                        NaN                       NaN
188                       NaN                       NaN

     tlfb_cal_scr_vmjo_ud_cum  su_tlfb_cal_scr_nic_days_cum  \
22                        NaN                           NaN
29                        NaN                           NaN
80                        NaN                           1.0
84                        NaN                           NaN
188                       NaN                           NaN

     su_tlfb_cal_scr_mj_days_cum
22                           NaN
29                           NaN
80                           NaN
84                           NaN
188                          NaN

[5 rows x 440 columns]

In [82]:
eval_metric_df

,src_subject_id,eventname,tlfb_cal_scr_num_bde,tlfb_cal_scr_tot_bde
22,NDAR_INV11THDW9B,1_year_follow_up_y_arm_1,NaN,NaN
29,NDAR_INV185KY7W3,1_year_follow_up_y_arm_1,NaN,NaN
80,NDAR_INV302WRHGU,1_year_follow_up_y_arm_1,NaN,NaN
84,NDAR_INV348PDVUL,1_year_follow_up_y_arm_1,NaN,NaN
188,NDAR_INV7UD8PUWD,1_year_follow_up_y_arm_1,NaN,NaN
...,...,...,...,...
718,NDAR_INVY4DLE2ZX,2_year_follow_up_y_arm_1,NaN,NaN
721,NDAR_INVY6KXTXY4,2_year_follow_up_y_arm_1,NaN,NaN
725,NDAR_INVYEHJWVEG,2_year_follow_up_y_arm_1,NaN,NaN
726,NDAR_INVYLNVG3N7,2_year_follow_up_y_arm_1,NaN,NaN
756,NDAR_INVZZJ3A7BK,2_year_follow_up_y_arm_1,NaN,NaN